<persistence>
  <persistence-unit name="usuarios_asociados">

    <class>mx.unam.ciencias.myp.Institucion</class>
    <class>mx.unam.ciencias.myp.Usuario</class>

    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/db_researchers"/>
      <property name="javax.persistence.jdbc.user" value="springuser"/>
      <property name="javax.persistence.jdbc.password" value="ThePassword"/>
      <property name="eclipselink.logging.level" value="SEVERE"/>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
      <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
    </properties>

  </persistence-unit>
</persistence>
