<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar articulo</title>
</head>
<body>
<div>
  <h3>Modifica articulo</h3>
  <form action="#"
        th:action="@{/administrator/actuailizar_articulo/{id}(id=${articulo.id})}"
        th:object="${articulo}"
        method="post">
    <label for="nombre">Nombre</label>
    <input type="text" th:field="*{nombre}" id="nombre" placeholder="Nombre">
    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
    <label for="descripcion">Descripción</label>
    <input type="text" th:field="*{descripcion}" id="descripcion" placeholder="Descripción">
    <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
    <label for="usuarios">Usuarios</label>
    <input type="text" th:field="*{cadenaUsuarios}" id="usuarios" placeholder="Separa los email con comas-">
    <span th:if="${#fields.hasErrors('cadenaUsuarios')}" th:errors="*{cadenaUsuarios}"></span>
    <label for="revistas">Revistas</label>
    <input type="text" th:field="*{cadenaRevistas}" id="revistas" placeholder="Separa las revistas con comas">
    <span th:if="${#fields.hasErrors('cadenaRevistas')}" th:errors="*{cadenaRevistas}"></span>
    <label for="mes">Mes</label>
    <input type="number" th:field="*{mes}" id="mes" placeholder="1" min="1" max="12">
    <span th:if="${#fields.hasErrors('mes')}" th:errors="*{mes}"></span>
    <label for="ano">Año</label>
    <input type="number" th:field="*{ano}" id="ano" placeholder="1999" max="2023">
    <span th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></span>
    <label for="url">URL</label>
    <input type="text" th:field="*{url}" id="url" >
    <span th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
    <label for="archivoASubir" >Archivo</label>
    <input type="file"  name="archivo" id="archivoASubir" aria-label="file example" th:field="*{archivo}" required>
    <span th:if="${#fields.hasErrors('archivo')}" th:errors="*{archivo}"></span>
    <input type="submit" value="Actualizar articulo">
  </form>
</div>
</body>
</html>