<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifica Institucion</title>
</head>
<body>
<dix>
    <h3>Modifica Institucion</h3>
    <form action="#" th:action="@{/administrator/actualizar_institucion/{id}(id=${institucion.id})}" th:object="${institucion}" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" th:field="*{nombre}" id="nombre">
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
        <label for="locacion">Locación</label>
        <input type="text" th:field="*{locacion}" id="locacion" >
        <span th:if="${#fields.hasErrors('locacion')}" th:errors="*{locacion}"></span>
        <label for="usuarios">Usuarios</label>
        <input type="text" th:field="*{cadenaUsuarios}" id="usuarios" placeholder="Separa los email con comas-">
        <span th:if="${#fields.hasErrors('cadenaUsuarios')}" th:errors="*{cadenaUsuarios}"></span>
        <input type="submit" value="Modifica institucion">
    </form>
</dix>
</body>
</html>