<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Administrador</title>
</head>
<body>
<h1>Base de Datos</h1>
<h3>Tablas</h3>
<p><a th:href="@{/administrator/usuarios}">Tabla Usuarios</a></p>
<p><a th:href="@{/administrator/articulos}">Tabla Articulos</a></p>
<p><a th:href="@{/administrator/revistas}">Tabla Revistas</a></p>
<p><a th:href="@{/administrator/proyectos}">Tabla Proyectos</a></p>
<p><a th:href="@{/administrator/perfiles}">Tabla Perfiles</a></p>
<p><a th:href="@{/administrator/instituciones}">Tabla Instituciones</a></p>
<p><a th:href="@{/administrator/areasTrabajo}">Tabla Areas de Trabajo</a></p>

</body>
</html>