<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifica Revistas</title>
</head>
<body>
<h3>Modifica revista</h3>
<form action="#" th:action="@{/administrator/actualizar_revista/{id}(id=${revista.id})}"
      th:object="${revista}" method="post">
  <label for="nombre">Nombre</label>
  <input type="text" th:field="*{nombre}" id="nombre" placeholder="Nombre">
  <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
  <label for="usuarios">Usuarios</label>
  <input type="text" th:field="*{cadenaUsuarios}" id="usuarios" placeholder="Separa los email con comas-">
  <span th:if="${#fields.hasErrors('cadenaUsuarios')}" th:errors="*{cadenaUsuarios}"></span>
  <label for="articulos">Revistas</label>
  <input type="text" th:field="*{cadenaArticulos}" id="articulos" placeholder="Separa los id de articulos por comas">
  <span th:if="${#fields.hasErrors('cadenaArticulos')}" th:errors="*{cadenaArticulos}"></span>
  <label for="mes">Mes</label>
  <input type="number" th:field="*{mes}" id="mes" placeholder="1" min="1" max="12">
  <span th:if="${#fields.hasErrors('mes')}" th:errors="*{mes}"></span>
  <label for="ano">Año</label>
  <input type="number" th:field="*{ano}" id="ano" placeholder="1999" max="2023">
  <span th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></span>
  <input type="submit" value="Modifica revista">
</form>
</body>
</html>