<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Red de Investigadores</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    </head>
    <body>
        <!-- logo  -->
        <svg style="display: none;">
            <symbol id="logo" viewBox="60 10 600 100">
                <title>Logo</title>
                <g>
                    <line x1="360" y1="40" x2="200" y2="120" stroke="black" stroke-width="3" />
                    <line x1="360" y1="40" x2="520" y2="120" stroke="black" stroke-width="3" />
                    <circle cx=" 360" cy="40" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <circle cx=" 200" cy="120" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <line x1="520" y1="120" x2="440" y2="200" stroke="black" stroke-width="3" />
                    <line x1="520" y1="120" x2="600" y2="200" stroke="black" stroke-width="3" />
                    <circle cx=" 520" cy="120" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <circle cx=" 440" cy="200" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <circle cx=" 600" cy="200" r="20" stroke-width="3" stroke="black" fill="black"/>
                </g>
            </symbol>
        </svg>

        <!-- navbar -->
        <div class="container-fluid gx-5" >
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="./greeting.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#logo"/></svg>
                    <span class="fs-4">Red de Investigadores</span>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Página Principal</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Artículos Destacados</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Investigadores</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Estudiantes</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Acerca de</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control " placeholder="Buscar..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button onclick="location.href='login.html'" type="button" class="btn btn-outline-primary me-2">Acceder</button>
                    <button onclick="location.href='register.html'" type="button" class="btn btn-primary">Registrarse</button>
                </div>
            </header>
        </div>

        
        <!-- heroe 1 -->
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">Centered screenshot</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Registrarse</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Acceder</button>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                    <img src="./img/lab1.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>

        <!-- heroe 2 -->
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="./img/lab3.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
                    <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Registrarse</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Acceder</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- heroe 3 -->
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 mb-3">Crea una búsqueda</h1>
                    <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
                </div>

                <div class="col-md-10 mx-auto col-lg-5">

                    <img src="./img/report1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
                    <br />
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control " placeholder="Buscar..." aria-label="Search">
                    </form>
                </div>
            </div>
        </div>

        <!-- features  -->
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">Columns with icons</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
                    </div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link d-inline-flex align-items-center">
                        Call to action
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
                    </a>
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
                    </div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link d-inline-flex align-items-center">
                        Call to action
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
                    </a>
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                    </div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link d-inline-flex align-items-center">
                        Call to action
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- heroe 4 -->
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 mb-3">¡Registrate!</h1>
                    <p class="col-lg-10 fs-4">Únete a la comunidad de investigadores y estudiantes.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <!-- form -->
                    <div class="form">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="entradaNombre" class="form-label">Nombre(s)</label>
                                <input type="text" class="form-control" id="entradaNombre">
                            </div>
                            <div class="col-md-6">
                                <label for="entradaApellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="entradaApellido">
                            </div>
                            <div class="col-md-6">
                                <label for="entradaEmail" class="form-label">Correo Electronico</label>
                                <input type="email" class="form-control" id="entradaEmail">
                            </div>
                            <div class="col-md-6">
                                <label for="entradaPassword" class="form-label">Constraseña</label>
                                <input type="password" class="form-control" id="entradaPassword">
                            </div>
                            <div class="row">
                                <label class="form-label">Fecha de nacimiento</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Dia" aria-label="dia">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Mes" aria-label="mes">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Año" aria-label="año">
                                </div>
                            </div>
                            <select class="form-select" aria-label="select Perfil">
                                <option selected>Perfil</option>
                                <option value="1">Estudiante</option>
                                <option value="2">Profesor</option>
                                <option value="3">Investigador</option>
                            </select>
                            <select class="form-select" aria-label="select instituciones">
                                <option selected>Institucion</option>
                                <option value="1">Fac de Ciencias</option>
                                <option value="2">Fac de Derecho</option>
                                <option value="3">Instituto de Matematicas</option>
                            </select>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- request  -->
        <p th:text="'Hello, ' + ${name} + '!'" />

        <!-- footer -->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; 2022 Red de Investigadores</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#logo"/></svg>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Página principal</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acceder</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Registrarse</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
