<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Red de Investigadores | Register</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="css/register.css" rel="stylesheet">
    </head>
    <body>
        <!-- logo  -->
        <svg style="display: none;">
            <symbol id="logo" viewBox="60 10 600 100">
                <title>Logo</title>
                <g>
                    <line x1="360" y1="40" x2="200" y2="120" stroke="black" stroke-width="3" />
                    <line x1="360" y1="40" x2="520" y2="120" stroke="black" stroke-width="3" />
                    <circle cx=" 360" cy="40" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <circle cx=" 200" cy="120" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <line x1="520" y1="120" x2="440" y2="200" stroke="black" stroke-width="3" />
                    <line x1="520" y1="120" x2="600" y2="200" stroke="black" stroke-width="3" />
                    <circle cx=" 520" cy="120" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <circle cx=" 440" cy="200" r="20" stroke-width="3" stroke="black" fill="black"/>
                    <circle cx=" 600" cy="200" r="20" stroke-width="3" stroke="black" fill="black"/>
                </g>
            </symbol>
        </svg>

        <!-- navbar -->
        <div class="container-fluid gx-5" >
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="./greeting.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#logo"/></svg>
                    <span class="fs-4">Red de Investigadores</span>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Página Principal</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Artículos Destacados</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Investigadores</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Estudiantes</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Acerca de</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control " placeholder="Buscar..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button onclick="location.href='login.html'" type="button" class="btn btn-outline-primary me-2">Acceder</button>
                    <button onclick="location.href='register.html'" type="button" class="btn btn-primary">Registrarse</button>
                </div>
            </header>
        </div>

        <!-- formulario -->
        <div class="form">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="entradaNombre" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" id="entradaNombre">
                </div>
                <div class="col-md-6">
                    <label for="entradaApellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="entradaApellido">
                </div>
                <div class="col-md-6">
                    <label for="entradaEmail" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" id="entradaEmail">
                </div>
                <div class="col-md-6">
                    <label for="entradaPassword" class="form-label">Constraseña</label>
                    <input type="password" class="form-control" id="entradaPassword">
                </div>
                <div class="row">
                    <label class="form-label">Fecha de nacimiento</label>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Dia" aria-label="dia">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Mes" aria-label="mes">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Año" aria-label="año">
                    </div>
                </div>
                <select class="form-select" aria-label="select Perfil">
                    <option selected>Perfil</option>
                    <option value="1">Estudiante</option>
                    <option value="2">Profesor</option>
                    <option value="3">Investigador</option>
                </select>
                <select class="form-select" aria-label="select instituciones">
                    <option selected>Institucion</option>
                    <option value="1">Fac de Ciencias</option>
                    <option value="2">Fac de Derecho</option>
                    <option value="3">Instituto de Matematicas</option>
                </select>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>

        <!-- footer -->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; 2022 Red de Investigadores</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#logo"/></svg>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Página principal</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acceder</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Registrarse</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
