<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- logo -->
<svg style="display: none;">
    <symbol id="logo" viewBox="60 10 600 100">
        <title>Logo</title>
        <g>
            <line x1="360" y1="40" x2="200" y2="120" stroke="black" stroke-width="3" />
            <line x1="360" y1="40" x2="520" y2="120" stroke="black" stroke-width="3" />
            <circle cx=" 360" cy="40" r="20" stroke-width="3" stroke="black" fill="black"/>
            <circle cx=" 200" cy="120" r="20" stroke-width="3" stroke="black" fill="black"/>
            <line x1="520" y1="120" x2="440" y2="200" stroke="black" stroke-width="3" />
            <line x1="520" y1="120" x2="600" y2="200" stroke="black" stroke-width="3" />
            <circle cx=" 520" cy="120" r="20" stroke-width="3" stroke="black" fill="black"/>
            <circle cx=" 440" cy="200" r="20" stroke-width="3" stroke="black" fill="black"/>
            <circle cx=" 600" cy="200" r="20" stroke-width="3" stroke="black" fill="black"/>
        </g>     
    </symbol> 
</svg>

<!-- footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Red de Investigadores</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#logo"/></svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Página principal</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acceder</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Registrarse</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
        </ul>
    </footer>
</div>
